.slick-slider{ data: { slick_slider: '' } }
  - (1..4).each do |i|
    .slick-slider__image-wrapper= image_tag('workarea/storefront/style_guide_light_banner.png', alt: "Image #{i}", class: 'slick-slider__image')
