.slick-slider{ data: { slick_slider: { options: { dots: true, arrows: false } }.to_json } }
  - (1..8).each do |i|
    .slick-slider__image-wrapper= image_tag('workarea/storefront/style_guide_product.jpg', alt: "Image #{i}", class: 'slick-slider__image')
